<?xml version="1.0" encoding="UTF-8"?>
<!-- Valid 한 설정 xml을 만들기 위해 DTD를 추가해 줍니다. -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />	
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- VO Type Aliases -->
	<typeAliases>
		<typeAlias alias="boardVO" type="com.app.board.vo.BoardVO"/>
		<typeAlias alias="userVO" type="com.app.user.vo.UserVO"/>
		<typeAlias alias="userRole" type="com.app.user.vo.UserRole"/>
	</typeAliases>
</configuration>
